@model BasePackageModule2.ViewModels.NavViewModel
    <footer>
        <!-- newsletter-group-area start -->
        <div class="newsletter-group-area bg-orange ptb-40">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12">
                        <div class="newletter-box-area">
                            <div class="newletter-title">
                                <h2>SIGN UP TO OUR NEWSLETTER</h2>
                                <p>Be the First to Know. Sign up for newsletter today</p>
                            </div>
                            <div class="newleter-content-box">
                                <form action="#" class="newleter-content-inner">
                                    <input type="text" placeholder="Enter you email address here..." value="">
                                    <a href="#" class="newleter-btn">Subscribe</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="social-link-area">
                            <ul class="social-link-follow">
                                <li><a href="#"><i class="ion-social-twitter"></i> </a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i> </a></li>
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube"></i></a> </li>
                                <li><a href="#"><i class="ion-social-pinterest"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- newsletter-group-area  end -->
        <!-- footer-top start -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-title">
                            <h5>CONTACT INFO</h5>
                        </div>
                        <div class="footer-content">
                            <p class="des">
                                We are All Kind Of Craft Products
                            </p>
                            <ul class="footer-contact">
                                <li class="adress">
                                    <i class="ion-ios-location"></i> <p>
    @Model.BusinessProfile.Address
    @Model.BusinessProfile.City, @Model.BusinessProfile.State
    @Model.BusinessProfile.Country  - @Model.BusinessProfile.Pincode
</p>
                                </li>
                                <li class="phone"><i class="ion-ios-telephone"></i> <p>@Model.BusinessProfile.RegisteredContactNumber</p></li>
                                <li class="email"><i class="ion-android-mail"></i> <p> @Model.BusinessProfile.EmailAddress</p></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-2 col-md-4 col-item-mg">
                        <div class="footer-title">
                            <h5>Information</h5>
                        </div>
                        <div class="footer-content">
                            <ul class="footer-list">
                              
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Privacy Policy </a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                   
                                
                                </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-item-mg">
                        <div class="footer-title">
                            <h5>Customer Service</h5>
                        </div>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="#">Contact Us</a></li>
                               
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#"> Order History</a></li>
                                <li><a href="#">Wish List</a></li>
                                <li><a href="#">  Newsletter</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-item-mg">
                        <div class="footer-title">
                            <h5>Extras</h5>
                        </div>
                        <div class="footer-content">
                            <ul class="footer-list">
                                <li><a href="#">Brands</a></li>
                               
                               
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">My Account</a></li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-top end -->
        <!-- footer-bottom start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-7">
                        <div class="footer-copyright">
                            <p>@Model.BusinessProfile.Copyright - Copyright @DateTime.Now.Year</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-5">
                        <div class="footer-payment">
                            <a href="#"><img src="img/icon/payment.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom end -->

    </footer>