@model BasePackageModule2.ViewModels.NavViewModel
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Http
@using BasePackageModule2.TagHelpers
@using BasePackageModule2.Utility
@inject IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Identity



<header>
    <!-- header-area start -->
    <div class="header-area sticky-header bg-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <!-- logo start -->
                    <div class="logo">
                        <a asp-action="Index" asp-controller="Home"><img src="~/img/logo.png" />ProCart</a>

                    </div>
                    <!-- logo end -->
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="main-menu main-menu-style-2">
                        <nav>
                            <ul>
                                <li>
                                    <a asp-action="Index" asp-controller="Home">Home</a>

                                </li>
                                <li><a asp-action="Index" asp-controller="AboutUs">About us</a></li>
                                <li>
                                    <a asp-action="Index" asp-controller="Products">Shop</a>
                                    <ul class="mega-menu">
                                        @foreach (var menu in Model.Menus)
                                        {
                                            if (menu.Type == "categoryCollection")
                                            {
                                                <li>
                                                    <a href="#">@menu.Name </a>
                                                    <ul>
                                                        @foreach (var menuCategory in menu.MenuCategories)
                                                        {
                                                            <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@menuCategory.Category.Name">@menuCategory.Category.Name</a></li>

                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        }


                                    </ul>
                                </li>

                                <li><a href="/Blog">Blog</a></li>



                                <li><a asp-action="Contact" asp-controller="Home">Contact us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Mobile Menu Area Start -->
                    <div class="mobile-menu-area d-block d-lg-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul>
                                    <li>
                                        <a href="index.html">Home</a>

                                    </li>
                                    <li><a href="about.html">About us</a></li>
                                    <li>
                                        <a href="shop.html">Shop</a>
                                        <ul class="mega-menu">
                                            @foreach (var menu in Model.Menus)
                                            {
                                                if (menu.Type == "categoryCollection")
                                                {
                                                    <li>
                                                        <a href="#">@menu.Name </a>
                                                        <ul>
                                                            @foreach (var menuCategory in menu.MenuCategories)
                                                            {
                                                                <li><a asp-area="" asp-controller="Products" asp-action="Index" asp-route-category="@menuCategory.Category.Name">@menuCategory.Category.Name</a></li>

                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            }


                                        </ul>
                                    </li>

                                    <li><a href="/Blog">Blog</a></li>



                                    <li><a href="contact.html">Contact us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- main-menu-area start -->
    <partial name="_LoginPartial" />
    <!-- main-menu-area end -->
    <!-- mobile-categorei-menu start -->
    <div class="container d-block d-lg-none">
        <div class="vertical-menu pb-30">
            <span class="categorie-title mobile-categorei-menu">all Categories</span>
            <nav>
                <div class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden " id="cate-mobile-toggle">
                    <ul>
                        @foreach (var menu in Model.Menus)
                        {
                            if (menu.Type == "categoryCollection")
                            {
                                @foreach (var menuCategory in menu.MenuCategories)
                                {
                                    <li><a asp-controller="Products" asp-action="Index" asp-route-category="@menuCategory.Category.Name">@menuCategory.Category.Name</a></li>

                                }
                            }
                        }

                    </ul>
                </div>
                <!-- category-menu-end -->
            </nav>
        </div>
    </div>
    <!-- mobile-categorei-menu end -->
</header>

